.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    margin: 0 20px;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.pictureDetail {
    max-width: 425px;
}

.navbar-nav {
    margin: 0px -15px;
}

.navbar-default {
    background-color: #EEE;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #CCC;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: #CCC;
}

.navbar-brand {
    margin-right: 15px;
}

.foodItem {
    border-bottom: 4px solid #D9EDF7;
    margin-bottom: 15px;
}

.submit {
    width: 73px;
}

.active {
    width: 100px;
}

.spinner {
    margin-left: 10px;
    opacity: 0;
}

.active .spinner {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.alert-success {
    height: 50px;
    transition: all 0.4s linear;
}

.fade {
    height: 0px;
    padding: 0px 15px;
}.low-level {
    color: red;
}

.ideal-level {
    color: green;
}

.high-level {
    color: orange;
}